.main {
  padding-top: 10px;
}

#cevaDivImportant {
  margin-top: 10px;
}
header div {
  width: 200px;
  color: rgb(0, 4, 255);
  border: 2px solid red;
  text-align: center;
  background-color: coral;
  border-radius: 20px;
}
footer {
  color: rgb(58, 13, 13);
}
